<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Verify your Details</h1>
    <form action="/users?_method=PUT" method="post">
        <input type="email" name="email" placeholder="Enter your Email"><br><br><br>
       
        <input type="text" name="password" placeholder="Enter password"><br><br><br>
        <button>Sumbit </button>
    </form>
    
</body>
</html>